
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rent</th>
      <th>Unit</th>
      <th>Unit type</th>
      <th>Bedroom</th>
      <th>Group</th>
      <th>Available<th>
      <th>Amenities</th>
      <th>days_vacant</th>
      <% @lease_terms.each do |month| %>
        <th><%= month %> mo.</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @available.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= number_to_currency property.unit_rent, precision: 0 %></td>
        <td><%= property.unit %></td>
        <td><%= property.unit_type %></td>
        <td><%= property.bedroom %></td>
        <td><%= property.group %></td>
        <% if property.move_out == nil %>
          <td>Missing</td>
        <% elsif property.move_out <= DateTime.now %>
          <td>available</td>
        <% else %>
          <td><%= property.move_out.next_day(5) %></td>
        <% end %>
        <td><%= property.amenities %></td>
        <td><%= property.days_vacant %></td>
        <% @lease_terms.each do |month| %>
          <th><%= number_to_currency @bed_premiums_per_building[property.name].
            calculate_rent(property.unit_rent, property.bedroom, month), precision: 0 %></th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
