<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rent</th>
      <th>Unit</th>
      <th>Unit type</th>
      <th>Bedroom</th>
      <th>Group</th>
      <th>Amenities</th>
      <th>days_vacant</th>
      <th>7 mo.</th>
      <th>8 mo.</th>
      <th>9 mo.</th>
      <th>10 mo.</th>
      <th>11 mo.</th>
      <th>12 mo.</th>
      <th>13 mo.</th>
      <th>14 mo.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- :name,:unit,:group, :bedroom, :unit_rent] -->

    <% @reportAvailable.each do |property| %>
      <tr>
        <td><%= property["name"] %></td>
        <td><%= property["unit_rent"] %></td>
        <td><%= property["unit"] %></td>
        <td><%= property["unit_type"] %></td>
        <td><%= property["bedroom"] %></td>
        <td><%= property["group"] %></td>
        <td><%= property["amenities"] %></td>
        <td><%= property["days_vacant"] %></td>
        <td><%= (property["seven"]) %></td>
        <td><%= (property["eight"]  ) %></td>
        <td><%= (property["nine"] ) %></td>
        <td><%= (property["ten"]  ) %></td>
        <td><%= (property["eleven"]  ) %></td> <!-- add 5 days -->
        <td><%= (property["twelve"]  ) %></td>
        <td><%= (property["thirteen"]  ) %></td>
        <td><%= (property["fourteen"] ) %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
