<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col s12 m4 l2"> <!-- Note that "m4 l3" was added -->
    <div class="card">
      <div class="card-image">
        <div class="transparency"></div>
        <%= image_tag("renewal.jpg", :alt => "home decor") %>
      </div>
      <div class="card-content">
      </div>
      <div class="card-action">
        <div class="conatiner">
        <a href="#">
          <%= @current_user.company.name %>
          Portfolio
        </a>
        </div>
      </div>
    </div>
    <div class="collection">
      <a class="collection-item" href="#modal1">Import CSV </a>
      <a href="#!" class="collection-item"> Export CSV</a>
      <a href="#!" class="collection-item">Print PDF</a>
      <a href="#!" class="collection-item"> Settings</a>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h3>Upload CSV</h3>
      <%= form_tag({action: :submit}, multipart: true) do %><br>
        <%= file_field_tag 'CSV' %><br>
        <!-- <h4>Unit Availability Update</h4> -->
        <p>Upload your csv to update the unit availability.</p><br>
        <%= submit_tag("Upload") %>
      <% end %>
    </div>
  </div>
  <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
<h1>Renewal Properties</h1>
    <!-- Teal page content

          This content will be:
      9-columns-wide on large screens,
      8-columns-wide on medium screens,
      12-columns-wide on small screens  -->
      <div class="dropdown-menu">Please choose your portfolio</div>
      <div class=" wth">
        <% Property.building_names.each do |r| %>
          <div class="col s3 blue-grey lighten-4 waves-effect waves-light btn-large <%=r%>"><h6><%=r%></h6></div>
        <% end %>
      </div>



<%(Property.building_names).each do |x| %>
  <table class="<%=x%> class=centered highlight responsive-table testclass">
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Unit Type</th>
        <th>Group</th>
        <th>lease to </th>
        <th width="20%">Amenity</th>
        <th> Resident </th>
        <th> Going Price </th>
        <th>Current Rent</th>
        <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
          <th><%= month %> mo.</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% Property.renewing_per_prop(x).sort_by{|k| k.lease_to || DateTime.now }.each do |property| %>
        <tr>
          <td><%= x %></td>
          <td><%= property.unit %></td>
          <td><%= property.unit_type.unit_type %></td>
          <td><%= property.group %></td>
          <th><%= property.lease_to %></td>
          <td><%= property.amenities %></td>
          <td><%= property.resident_name %> </td>
          <td><%= (property.unit_rent - property.unit_type.amount_off) %> </td>
          <td><%= property.resident_rent %></td>
          <% if property.resident_rent + property.unit_type.increase_amount >= (property.unit_rent - property.unit_type.amount_off - (property.unit_rent * property.unit_type.percentage_off)) %>
            <% if property.lease_to.strftime("%Y%m") <= DateTime.now.strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent0(property.resident_rent , property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(1).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent1(property.resident_rent , property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(2).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent2(property.resident_rent , property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(3).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent3(property.resident_rent , property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(4).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent4(property.resident_rent , property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% end %>
          <% else %>
            <% if property.lease_to.strftime("%Y%m") <= DateTime.now.strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent0((property.resident_rent  + property.unit_type.increase_amount), property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(1).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent1((property.resident_rent  + property.unit_type.increase_amount), property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(2).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent2((property.resident_rent  + property.unit_type.increase_amount), property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(3).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent3((property.resident_rent  + property.unit_type.increase_amount), property.unit_type.bedroom.to_i, month), precision: 0 %></th>
              <% end %>
            <% elsif property.lease_to.strftime("%Y%m") == DateTime.now.next_month(4).strftime("%Y%m") %>
              <% PropertyName.all[Property.building_names.index(x)].lease_terms.split(",").map{ |i| i.to_i}.each do |month| %>
                <th><%= number_to_currency @bed_premiums_per_building[x].calculate_rent4((property.resident_rent  + property.unit_type.increase_amount), property.unit_type.bedroom, month), precision: 0 %></th>
              <% end %>
            <%end %>
        <%end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</br>
  </div>
  </div>
