<div class="parallax-container">
  <div class="parallax">
    <div class="transparency">
    </div>
      <%= image_tag("newfpimage1.jpg", :alt => "home decor") %>
    </div>
    <div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center white-text text-lighten-2"> Wyn Yield Maximizer</h1>
    <div class="row center">
      <h5 class="header col s12 white-text light">A Multi-family residential rent maximizing solution</h5>
    </div>
    </div>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Lease Expiration Management  </h2>
        <h4 class="grey-text text-darken-3 lighten-3">Get the most out of your rents.</h4>
    </div>
  <div class="row container">
      <h4 class="light">and minimize vacancy loss</h4>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <div class="transparency"></div>
      <%= image_tag("newfpimage3.jpg", :alt => "home decor") %>
    </div>
  </div>
  <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="one center black-text"><%= fa_icon "university", base: "circle", class: " fa-2x" %></h2>
              <h5 class="center">Institution of experience</h5>

              <p class="light">Over six years of multi-family residential experience met up with a pair of computer programmers to bring this product to life.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center black-text"><%= fa_icon  "balance-scale", base: "circle", class: "fa-2x" %></h2>
              <h5 class="center">Balanced approach</h5>

              <p class="light">A complex algorythym design was balanced with user experience design to bring a short learning curve, along with ease with continued use.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center black-text"><%= fa_icon "bar-chart", base: "circle", class: "fa-2x" %></h2>
              <h5 class="center">Data before your eyes</h5>

              <p class="light">Interactive dashboard pricing sheets for expiring and available leases are generated.</p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 white-text light">Balance out your portfolio, ensure consistency.</h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <div class="transparency"></div>
      <%= image_tag("newfpimage4.jpg", :alt => "home decor") %></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4 id="contact-us">Contact Us</h4>
            <p class="left-align light">Would you like to have your Multi-family residential portfolio's units priced by Wyn Yield Maximizer? Contact us to maximize your rents, and minimize your vacancy loss.</p>
          </div>
          <div class="col s10">


            <%= image_tag("rickandmario.jpg", :alt => "devs", class: "col s9") %>
            </div>
          </div>
          </div>
        </div>

      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s4 white-text light">Autobots Maximize!</h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <div class="transparency"></div>
      <%= image_tag("newfpimage5.jpg", :alt => "home decor") %></div>
    </div>
