<p id="notice"><%= notice %></p>

<h1>Unit Types</h1>

<table>
  <thead>
    <tr>
      <th>Prop<th>
      <th>Type</th>
      <th>Bedroom</th>
      <th>Amount off</th>
      <th>Percentage off</th>
      <th>Growth Rate</th>
      <th>Renewal Increase</th>
      <th>Market Rate Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_types.each do |unit_type| %>
      <tr>
        <td><%= unit_type.property_name.name%><td>
        <td><%= unit_type.unit_type %></td>
        <td><%= unit_type.bedroom %></td>
        <td><%= unit_type.amount_off %></td>
        <td><%= unit_type.percentage_off %></td>
        <td><%= unit_type.growth_rate %></td>
        <td><%= unit_type.increase_amount %></td>
        <td><%= unit_type.market_rate_date %></td>
        <td><%= link_to 'Show', unit_type %></td>
        <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
        <td><%= link_to 'Destroy', unit_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit Type', new_unit_type_path %>
