<p id="notice"><%= notice %></p>

<p>
  <strong>Unit Type:</strong>
  <%= @unit_type.unit_type %>
</p>


<p>
  <strong>Bedroom:</strong>
  <%= @unit_type.bedroom %>
</p>

<p>
  <strong>Amount off:</strong>
  <%= @unit_type.amount_off %>
</p>

<p>
  <strong>Percentage off:</strong>
  <%= @unit_type.percentage_off %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unit_type.growth_rate %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unit_type.increase_amount%>
</p>

<p>
  <strong>Type:</strong>
  <%= @unit_type.market_rate_date %>
</p>

<%= link_to 'Edit', edit_unit_type_path(@unit_type) %> |
<%= link_to 'Back', unit_types_path %>
