<footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Yield Maximizer</h5>
            <p class="grey-text text-lighten-4">Reach your goals, take it to the limit.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Follow Us</h5>
            <ul>
              <li class="white-text" ><%= fa_icon  "facebook-square", class: "fa-1x" %><a class="grey-text text-lighten-3" href="#!"> Facebook</a></li>
              <li class="white-text" ><%= fa_icon  "twitter-square", class: "fa-1x" %><a class="grey-text text-lighten-3" href="#!"> Twitter</a></li>
              <li class="white-text" ><%= fa_icon  "linkedin-square", class: "fa-1x" %><a class="grey-text text-lighten-3" href="#!"> LinkedIn</a></li>
              <li class="white-text" ><%= fa_icon  "instagram", class: "fa-1x" %><a class="grey-text text-lighten-3" href="#!"> Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <p>© <%= Date.today.year %> Wyn Yield Maximizer.</p>
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>
