<nav>
  <div class="nav-wrapper white lighten-2">
    <div class="container">
    <%= link_to 'Yield Maximizer', root_path, class: "brand-logo" ,id: "brand" %>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>

        <li style="color:black"> Signed in as <%= current_user.name %></li>
        <% if current_user.admin == true %>
        <li><%= link_to "Employee", '/employees' %></li>
        <li><%= link_to "Companies", '/companies' %></li>
        <% end %>
        <li><%= link_to "Properties", '/properties' %></li>
        <li><%= link_to "Logout", '/logout' %></li>
      <% else %>
        <li><%= link_to 'Login', '/login' %></li>
        <li><%= link_to "Sign up",  new_employee_path %></li>
      <% end %>
      </ul>
    </div>
</nav>
